In [3]:
import pycountry
import pandas as pd
import numpy as np
import pycountry_convert as pc

In [4]:
df = pd.read_excel('countries.xlsx')

In [5]:
df

             country
0          Argentina
1          Australia
2            Austria
3            Belgium
4            Bermuda
5           Bulgaria
6             Canada
7              China
8           Colombia
9            Croatia
10              Cuba
11           Czechia
12       El Salvador
13            France
14  French Polynesia
15           Germany
16            Greece
17             Haiti
18           Hungary
19             India
20             Italy
21        Luxembourg
22        Martinique
23            Mexico
24       Netherlands
25       New Zealand
26              Peru
27            Poland
28           Romania
29            Russia
30            Serbia
31         Singapore
32          Slovakia
33         Slovenija
34       Switzerland
35            Turkey
36    United Kingdom
37           Vanuatu

In [10]:
def get_continent(country_name):
    try:
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        continent_name = pc.convert_continent_code_to_continent_name(continent_code)
        return continent_name
    except Exception:
        return None



df['continent'] = df['country'].apply(get_continent)

In [11]:
df

             country      continent
0          Argentina  South America
1          Australia        Oceania
2            Austria         Europe
3            Belgium         Europe
4            Bermuda  North America
5           Bulgaria         Europe
6             Canada  North America
7              China           Asia
8           Colombia  South America
9            Croatia         Europe
10              Cuba  North America
11           Czechia         Europe
12       El Salvador  North America
13            France         Europe
14  French Polynesia        Oceania
15           Germany         Europe
16            Greece         Europe
17             Haiti  North America
18           Hungary         Europe
19             India           Asia
20             Italy         Europe
21        Luxembourg         Europe
22        Martinique  North America
23            Mexico  North America
24       Netherlands         Europe
25       New Zealand        Oceania
26              Peru  South America
27            Poland         Europe
28           Romania         Europe
29            Russia         Europe
30            Serbia         Europe
31         Singapore           Asia
32          Slovakia         Europe
33         Slovenija           None
34       Switzerland         Europe
35            Turkey           Asia
36    United Kingdom         Europe
37           Vanuatu        Oceania

In [12]:
df.to_csv('continents without us.csv')

In [13]:
df = pd.read_excel('europe.xlsx')

In [18]:
df['Country'].value_counts().to_csv('europe.csv')